<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Repeat Counter</title>
</head>
<body>
  <div class="container">
    <h1>Repeat Counter</h1>
    <p>Takes a word and a sentence and tells you how many times that word appears in the sentence.</p>
    <form class="center" action="/display" method="post">
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="word">Enter word to search for:</label>
        <input id="word" name="word" type="text" maxlength="200" required>

        <label for="string">Enter sentence to search in:</label>
        <input id="string" name="string" type="text" maxlength="200" required>
      </div>
    </div>
    <div>
      <button type="submit" class="btn-primary">Get Count!</button>
    </div>
  </form>
  </div>
</body>
</html>
